---
import Card from '../components/Card.astro'
import "../../dist/output.css"
import { convertMentionToApiUrl } from '../utils/convertors'
import { mastodonEmbed } from '../mastodonEmbed'
import { EmbedData } from '../types'

const mastodonUrl = convertMentionToApiUrl("@molly0xfff@hachyderm.io :111992767176594967")

const mastodonPost: EmbedData = await mastodonEmbed({ url: mastodonUrl! })

console.log(mastodonPost)


type Props = {
    accountUrl: string;
    avatar: string;
    created_at: string;
    display_name: string;
    username: string;
    content: string;
    favourites_count: number;
    reblogs_count: number;
    replies_count: number;
    url: string;
    media_attachments: EmbedData["media_attachments"];
    card: EmbedData["card"];
}

---
<div class="grid min-h-screen h-full place-items-center bg-gray-300">
  <div class="grid h-screen place-items-center bg-gray-300">
    <Card data={mastodonPost} />
  </div> 
</div>
