---
import { CardComponent } from '../components/Card.jsx'
import "../../dist/output.css"
import { convertMentionToApiUrl } from '../utils/convertors.js'
import { mastodonEmbed } from '../mastodonEmbed.js'
import { EmbedData } from '../types.js'

const mastodonUrl = convertMentionToApiUrl("@rosnovsky@lounge.town:110969735983319283")

const mastodonPost: EmbedData = await mastodonEmbed({ url: mastodonUrl! })

type Props = {
    accountUrl: string;
    avatar: string;
    created_at: string;
    display_name: string;
    username: string;
    content: string;
    favourites_count: number;
    reblogs_count: number;
    replies_count: number;
    url: string;
    media_attachments: EmbedData["media_attachments"];
    card: EmbedData["card"];
}

---
  
<div class="dark grid min-h-screen h-full place-items-center bg-gray-300">
  <div class="grid h-screen place-items-center bg-gray-300">
    <CardComponent data={mastodonPost} />
  </div>
</div>
