---
import Content from './Content.astro';
import Heading from './Heading.astro';
import Footer from './Footer.astro';

type Props = {
  data: {
    accountUrl: string;
    avatar: string;
    created_at: string;
    display_name: string;
    username: string;
    content: string;
    favourites_count: number;
    reblogs_count: number;
    replies_count: number;
    url: string;
  };
};

const { data } = Astro.props;

---
<aside class="dark bg-slate-800 min-w-72 max-w-2xl w-full sm:w-2xl mx-auto card">
  <div class="w-full h-full flex items-center justify-center sm:p-5 p-0">
    <div class="w-full mx-auto rounded-lg border-2 dark:border-violet-300 border-violet-800 p-5 text-slate-800 bg-violet-100 bg-opacity-100  dark:bg-violet-950 dark:bg-opacity-90 bg-blend-darken dark:text-slate-200">

      <Heading data={data} />
      <Content data={data} />
      <Footer data={data} />

    </div>
  </div>
</aside>
